@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

.background {
  background-color: rgb(173, 167, 252);
}

.profPic {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: center;
}

.cardHeader {
  font-family: "Poppins", sans-serif;
  border: solid 1px;
  margin: 0.5em 0;
  text-align: center;
}

.infoLink {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.codingProjects {
  font-family: "Poppins", sans-serif;
  padding: 0.4em;
  color: white;
  text-align: center;
  background-color: rgba(14, 97, 165, 0.534);
  text-align: center;
}

.mainHeader {
  font-family: "Bungee Outline", cursive;
  font-weight: bold;
  text-align: center;
}
.linkedInbtn {
  color: black;
}

.otherHeaders {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.356);
}

.clickBtn {
  font-family: "Poppins", sans-serif;
  margin: 0.4em;
}

.titleBtns {
  font-family: "Poppins", sans-serif;
  padding: 0.4em;
}

.aboutMe {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
}
.quoteMe {
  font-family: "Yeon Sung", cursive;
}



.mainInfo {
  background-image: url("/waterdrop.jpg");
  background-color: rgba(14, 97, 165, 0.534);
  opacity: 0.8;
  background-repeat: no-repeat;
  height: auto;
  background-attachment: stretch;
  background-position: center;
  background-size: cover;
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
}


.rcorners2 {
  border-radius: 15px 50px 30px !important;
  padding: 20px;
}

.rcorners4 {
    border-radius: 15px !important;
    padding: 20px;
    width: 20px;
    height: 80px;
  }


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(173, 10, 10);
    background-color: #000000d5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(12, 2, 151, 0.822);
    text-align: center;
  }

.button:hover {background-color: #ffffff}

.button:active {
  background-color: #f30000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/*  Styles for animations */

body {
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('cloud2.jpg');
    background-repeat: repeat-x;
    background-position: 
      0 150%,
      0 100%,
      0 100%,
      0 100%,
      0 0;
    background-size: 
      auto 85%,
      auto 100%,
    auto 90%,
      auto 90%,
      auto 100%;
    animation: 100s para infinite linear;
    }
  
  @keyframes para {
    100% {
      background-position: 
        -5500px 150%,
        -800px 100%,
        500px 100%,
        600px 100%,
        400px 0;
      }
    }




    /* Collapsible styling */

    /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    background-size: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background-color: #9881ffd2;
    opacity: 0.5;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
 

  .cbCollapseRow {
    display: flex;
    background-color: #0000009f;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    max-height: 120px;
  }
  
  .cbCollapse {
    background-image: url('spaceinvader.png');
    background-size: 80px;
    cursor: pointer;
    padding: 40px;
    border: none;
    margin-bottom: 30px;
    background-color: #9881ffd2;
    font-family: "Poppins", sans-serif;
    text-align: center;

  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(14, 97, 165, 0.534);
    font-family: "Poppins", sans-serif;
    text-align: center;

  }

  .footerBtn {

    background-size: cover;
    cursor: pointer;
    padding: 8px;
    border: none;
    margin-bottom: 10px;
    background-color: #00000038;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
  }

.footerBtn:hover {background-color: #ff0000}

.footerBtn:active {
  background-color: #55ff07;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}