.background {
    background-color: rgb(173, 167, 252);
}
.profPic {
    margin: 0.5em 0;
    width: 100%;
    background-color: rgb(80, 173, 228);
}

.cardHeader {
    border: solid 1px;
    margin: 0.5em 0;
}

.infoLink {
    font-size: 18px;
    font-weight: bold;
}

.codingProjects {
    padding: 0.4em;
    color: white;
}

.mainHeader {
    background-color: rgba(10, 0, 95, 0.945);
    font-weight: bold;
}
.linkedInbtn {
    color: black
}